version: "3.8"

networks:
    app-tier:
        driver: bridge

services:
    mysql_server:
        image: mysql:8.0
        platform: linux/amd64
        networks:
            - app-tier
        expose:
            - "3306"
        ports:
            - "3306:3306"
        environment:
            - MYSQL_DATABASE=test_db
            - MYSQL_USER=rasoul
            - MYSQL_PASSWORD=secret
            - MYSQL_ROOT_PASSWORD=secret
    server:
        depends_on:
            - mysql_server
        build:
            context: ./server
            dockerfile: Dockerfile
            target: base
        volumes:
            - ./server:/app/server
        container_name: server
        ports:
            - "8080:8080"
        command: npm run dev
        networks:
            - app-tier

    # client:
    #     build: ./client
    #     container_name: client
    #     environment:
    #         NODE_PATH: src
    #     ports:
    #         - 3000:3000
    #     volumes:
    #         - ./client/src:/app/src
    #     links:
    #         - server
    #     command: npm start
# volumes:
#     mysql:
#     mysql_config:
